.button {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  width: 6em;
  height: 2em;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 1em;
  line-height: 1.5em;
  border: none;

  &:hover {
    filter: brightness(80%);
  }

  &.add {
    float: right;
    background-color: #a4a4a4;
    color: white;
    margin: 1em;
  }

  &.done {
    background-color: #fff;
  }

  &.delete {
    padding: 0;
    height: 1.5em;
    border-radius: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    width: 0em;
    flex-basis: 0;
    background-color: #b22953;
    color: white;
    transition: flex-basis 0.3s ease;

    &.open {
      flex-basis: 10%;
    }
  }
}
